h1{
    text-align: center;
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(104, 255, 63);
    text-shadow: 1px 1px 2px rgb(97, 20, 204), 0 0 25px rgb(2, 255, 74), 0 0 5px rgb(255, 255, 255);

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    
}
table{
    margin-top: 5%;
    margin-left:8%;
}
thead{
    background-color:  rgba(218, 218, 218, 1);
}

.supp{
    color:red;
}
.return{
    background-color: rgba(254, 255, 222, 1);
    color:black;
    border-color: red;
    width: 10%;
    height: 40px;
    margin:0%;
    padding:0%;
    border-radius: 10px ;
}
.return:hover{
    background-color: rgba(109, 255, 61, 1);
    border-color: black;
    color: white;
}
.retur{
    text-decoration:none;

}